{% trans_default_domain 'Layout' %}

  <div id="footer" class="container-fluid footer-text">
    <img alt="Brand" height="30" width="30" src="{{ asset('images/logo128x128.png') }}">
    <small>© 2017 mindpool GbR - </small><a href="{{ path('imprint') }}"><small>{{ 'menu.imprint'|trans }}</small></a>
  </div>
